{% extends "base.html"%} {% block content %}
<div class="jumbotron">
  <form method="POST">
    {# This hidden_tag is a CSRF security feature. #} {{ form.hidden_tag() }}
    <br />
    {{ form.radiant_hero_1.label}} {{form.radiant_hero_1}}
    <br />
    {{ form.radiant_hero_2.label}} {{form.radiant_hero_2}}
    <br />
    {{ form.radiant_hero_3.label}} {{form.radiant_hero_3}}
    <br />
    {{ form.radiant_hero_4.label}} {{form.radiant_hero_4}}
    <br />
    {{ form.radiant_hero_5.label}} {{form.radiant_hero_5}}
    <br />
    <br />
    <br />
    {{ form.dire_hero_1.label}} {{form.dire_hero_1}}
    <br />
    {{ form.dire_hero_2.label}} {{form.dire_hero_2}}
    <br />
    {{ form.dire_hero_3.label}} {{form.dire_hero_3}}
    <br />
    {{ form.dire_hero_4.label}} {{form.dire_hero_4}}
    <br />
    {{ form.dire_hero_5.label}} {{form.dire_hero_5}}
    <br />
    {{ form.submit() }}
  </form>
</div>
{% endblock %}
